@import 'compass/css3/box-shadow'

.product-show
  display: flex
  justify-content: center

  .product
    margin-right: $space
    text-align: center
    p,
    h2
      margin: $space
    .product-picture
      +single-box-shadow($color: $gray)
      width: 300px
    .product-name,
    .product-price
      font-family: $text-font
      font-size: $title-size
    .product-description
      font-family: $title-font
    .product-price
      &:after
        content: "€"

  .product-actions
    margin-left: $space
    .btn-main,
    .btn-secondary
      display: block
      width: 200px
      margin-bottom: $space
      padding-left: 0
      padding-right: 0
