.user.wizard
  fieldset
    border: none
    padding: 0
  legend
    display: none

  label
    display: inline-block
    position: absolute
    text-align: right
    width: 200px
    margin-left: -220px
    color: $light-blue

  input
    height: 40px

  label
    line-height: 40px

  .actions
    float: right
