%link
  text-decoration: none
  color: $black

%btn
  @extend %link
  display: inline-block
  color: $black
  line-height: 2rem
  text-align: center
  min-width: 180px
  max-width: 200px

.btn-main
  @extend %btn
  color: $black
  border: solid 1px $black
  font-weight: bold
  &:hover
    color: $white
    background-color: $black

.btn-submit
  @extend %btn
  color: $white
  background-color: $black
  font-weight: bold

.btn-cart
  @extend .btn-main
  font-weight: normal
  padding: 0
  @include after-icon('cart', true)
    line-height: 2rem
    height: 2rem

.btn-secondary
  @extend %btn
  color: $gray
