%btn
  text-decoration: none
  display: inline-block
  padding: $space/2 $space*2
  text-align: center
  color: $black
  background-color: $white
  width: 150px

.btn-main
  @extend %btn
  border: solid 2px $black
  font-weight: bold

.btn-secondary
  @extend %btn
