.cart-list
  padding: 1rem 1rem 0 1rem
  z-index: 1000
  .price,
  .cart_item
    margin-right: 1rem
  .picture
    width: 50px
    height: 50px
    margin-right: 1rem
  .name
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    padding-right: 1rem
  .price
    color: $black

.cart-total
  padding: 1rem 1rem 1rem 0
  text-align: right
  color: $gray
  .price
    min-width: 4rem
    display: inline-block
    color: $black

.cart-small
  display: none
  position: absolute
  margin-left: -200px
  background-color: $white
  border: solid 1px $black
  min-width: 400px
  .picture
    display: none
  .cart-item
    justify-content: flex-end

.cart-item
  display: flex
  align-items: center
  line-height: 2rem
  margin-bottom: 1rem
  .name
    flex-grow: 1

  form
    display: flex
    justify-content: space-between
    label
      display: none
    input[type=number]
      width: 3rem

.btn-cart
  width: 200px
  .cart-size
    padding-right: 1rem

.btn-remove-cart-item
  @extend %link
  +content-icon('delete-cart-item', $hover: true)
  color: $red
  width: 2rem
  height: 2rem
  line-height: 30px
  font-size: $title-size
  text-align: center
  border: solid 1px $red
  &:hover
    background-color: $red


.btn-cart-checkout
  @extend %btn
  background-color: $black
  color: $white
  max-width: 100%
  width: 100%
