@import 'compass/css3/box-shadow'

$product-img-width: 300px
$product-img-height: 300px
$new-product-circle-radius: 150px
$product-blur: 3px
$product-hover-blur: 10px

.product
  display: inline-block
  vertical-align: bottom
  text-align: center
  margin: 4rem 4rem 0 0
  min-width: $product-img-width
  position: relative
  a
    @extend %link
  .product-name,
  .description,
  .price
    padding: 0.5rem
  .product-actions
    padding-top: 1rem

.product-small
  .product:hover .product-picture,
  .btn-new-product:hover
    +single-box-shadow($color: $gray, $blur: $product-hover-blur)

.product-large
  .details
    display: inline-block
    vertical-align: top
    text-align: left
    margin-left: 5rem
  .price
    color: $black
  .description
    color: $gray
    margin: 0.5rem 0 2rem 0
  .product-actions
    margin-top: 2rem

.product-picture
  line-height: $product-img-height
  +single-box-shadow($color: $gray, $blur: $product-blur)


.btn-new-product
  @extend %link
  display: inline-flex
  flex-direction: column
  justify-content: center
  align-content: center
  +single-box-shadow($color: $gray)
  width: $product-img-width
  height: $product-img-height
  text-align: center
  vertical-align: top
  margin: 4rem 4rem 0 0

.btn-new-product:after
  content: '+'
  border: solid 1px $black
  border-radius: 50%
  font-size: 5em
  width: $new-product-circle-radius
  line-height: $new-product-circle-radius
  margin: 2rem auto 0 auto
