@import 'compass/css3/box-shadow'

.product
  display: inline-block
  margin: 2rem
  text-align: center
  p,
  h2
    margin: $space
  .product-picture
    width: 300px
    height: 400px
    line-height: 400px
    img
      vertical-align: middle
      +single-box-shadow($color: $gray)
  .product-name,
  .product-price
    font-size: $title-size
  .product-description
    font-family: $title-font
  .product-price
    &:after
      content: "€"

.new-product
  display: inline-block
  margin: 2rem
  text-align: center

