@mixin input-placeholder
  &.placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
  &::-webkit-input-placeholder
    @content

@mixin content-icon($name, $hover: false)
  @include icons-sprite($name)
  @include icons-sprite-dimensions($name)
  background-clip: border-box
  vertical-align: middle
  display: inline-block
  @if $hover
    &:hover
      @include icons-sprite("#{$name}-hover")
      background-clip: border-box


@mixin after-icon($name, $hover: false)
  &:after
    +content-icon($name, $hover: false)
    content: " "
    margin-left: 1rem
    @content
  @if $hover
    &:hover:after
      @include icons-sprite("#{$name}-hover")

@mixin img-overlay($bg-color: rgba(0, 0, 0, 0.8))
  display: inline-block
  position: relative
  > :last-child
    display: none
    position: absolute
    top: 0
    width: 100%
    height: 100%
    background-color: $bg-color
  &:hover :last-child
    display: block
