$header-color: $white
$back-color: $bg-blue
$footer-text-color: $orange
$footer-height: 60px

#header,
#footer
  background-color: $header-color

#footer
  text-align: center

#header
  .top-row
    display: flex
    justify-content: space-between
    align-items: flex-end
    padding: 1rem 0 2rem 2rem

#root
  background-color: $back-color

.landing-footer-text
  line-height: $footer-height
  color: $footer-text-color
  font-family: $title-font
  font-style: italic

.flashes
  margin: 3rem

.title
  text-align: center
  margin-top: 3rem

// sticky footer (pasted from compass, removed useless rules)
#root
  min-height: 100%
  margin-bottom: -$footer-height
#root-footer
  height: $footer-height
