$header-color: $white
$back-color: $white
$footer-text-color: $white
$footer-height: 60px

#header
  background-color: $header-color

#header
  padding: $space/2 $space

#content
  margin: $space * 4

.landing-footer-text
  line-height: $footer-height
  color: $footer-text-color
  font-family: $title-font
  font-style: italic
