$header-color: $white
$back-color: $white
$footer-text-color: $white
$footer-height: 60px

&
  max-width: 1200px
  margin: auto
  padding: 0 2rem

#header
  .top-row
    display: flex
    justify-content: space-between
    align-items: flex-end
    padding-bottom: 1rem
    padding-left: 1rem
    border-bottom: solid 1px $light-gray
    margin: 1rem 0

#content
  text-align: center

.store-description
  text-align: left
  max-width: 300px
