// Colors
$white: #FFF
$black: #333
$gray: #999
$light-gray: #eee
$red: #DE6F6F

// Typography
$text-font: 'futura-pt', Arial, sans-serif
$alt-font: 'freight-display-pro', Georgia

$title-size: 30px
$subtitle-size: 24px
$text-size: 18px

$space: 1rem
